/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Source Sans Pro", "Arial", Helvetica,
  FreeSerif, serif !default;
$font-family-monospace: "Source Code Pro", monospace;

// colors
// $body-bg: #f0f1eb !default;
// $body-color: #000 !default;
// $link-color: #008ECE !default;
// $selection-bg: #26351c;
// $tabset-border-color: #008ECE !default;

// headings
$presentation-heading-font: "Source Sans Pro", "Arial", Helvetica,
  FreeSerif, serif !default;
// $presentation-heading-color: #59C7EB !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}